body{
    background-color: #0b3c49;
}

#profile {
    background-color: aliceblue;
    padding: 2px;
}
#profile-header {
    margin: 0 0 2% 0;
}

#trivia-gen {
    position: absolute;
    right: 50%;
    background-color: silver;
}

#game-card-border {
    background-color: aliceblue;
    border: 7px solid greenyellow;
    border-radius: 12px;
    margin:auto;
    position: absolute;
    top: 300px;
    right:450px;
}

#answer-card-border {
    background-color: aliceblue;
    border: 7px solid greenyellow;
    border-radius: 12px;
    margin:auto;
    position: absolute;
    top: 300px;
    right:450px;
    display: none; 
}

#questions {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid orangered;
}

#allAnswers {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid orangered;
}

#answer-1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

#answer-2 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#answer-3 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#answer-4 {
    margin-top: 5%;
    margin-bottom: 30%;
}

#timer {
    margin-right: 5%;
}

#menu-container {
    background-color: #9993b2;
}



@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}