body{
    background-color: #0b3c49;
}

#profile {
    background-color: aliceblue;
    padding: 2px;
}
#profile-header {
    margin: 0 0 2% 0;
}

#trivia-gen {
    position: absolute;
    right: 50%;
    background-color:#A0DB35;
}

#game-card-border {
    background-color: orange;
    border: 7px solid orangered;
    border-radius: 12px;
    margin:auto;
    position: absolute;
    top: 300px;
    right:450px;
}

#answer-card-border {
    background-color: purple;
    border: 7px solid yellow;
    border-radius: 12px;
    /*margin:auto;*/
    position: absolute;
    top: 300px;
    right:450px;
    display: none; 
}

#questions {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid orangered;
    text-align: center;
    box-shadow: 5px 10px 8px gray;
    font-weight: bolder;
}

#allAnswers {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: none;
    border: 3px solid yellow;
    text-align: center;
    box-shadow: 5px 10px 8px gray;
    font-weight: bolder;
}

#answer-1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

#answer-2 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#answer-3 {
    margin-top: 5%;
    margin-bottom: 5%;
}
#answer-4 {
    margin-top: 5%;
    margin-bottom: 30%;
}

#nextQuestionBut {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

#timer {
    margin-right: 5%;
    background-color: greenyellow;
}

#menu-container {
    background-color: #9993b2;
}

.correct {
    background-color: greenyellow;
}

.incorrect {
    background-color: red;
}
.reward {
    /*max-height: 100%;*/
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

@media screen and (min-width: 480px){
    #game-card-border {
        max-width: 130%;  important:  !important;
        padding: 1em;
        position: absolute;
        top: 25%;
        left: 0%;
        right: 0%;

    }
    #answer-card-border {
        max-width: 130%;  important:  !important;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 25%;
        left: 0%;
        right:0%;


    }
    #trivia-gen {
        max-width: 130%; important:  !important;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

    } 
}

@media screen and (min-width: 768px) {
    #game-card-border {
        max-width: 100%;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    #answer-card-border {
        max-width: 100%;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        bottom: 0;
        transform: translate(-50%, -50%)
    }
    #trivia-gen {
        max-width: 100%;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)

    }
    @media screen and (min-width: 992px) {
        #game-card-border {
            max-width: 70%;
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
    
        }
        #answer-card-border {
            max-width: 70%;
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
    
        }
        #trivia-gen {
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
}

